<!DOCTYPE html>
<html>
<head>
<title>The Coffee Table</title>
<link rel="stylesheet" type="text/css" href="../libs/css/bootstrap-paper.css">
<link rel="stylesheet" type="text/css" href="custom.css">
<link rel="stylesheet" type="text/css" href="custom2.css">
<link rel="stylesheet" type="text/css" href="../libs/css/ng-rateit.css">
<link rel="stylesheet" type="text/css" href="bg.css">
<script src="../libs/js/angular.min.js"></script>
<script src="../libs/js/angular-route.min.js"></script>
<script src="../libs/js/angular-animate.min.js"></script>
<script src="../libs/js/ui-bootstrap.min.js"></script>
<script src="../libs/js/ng-rateit.min.js"></script>
<script src="script.js"></script>
</head>
<body>
<div class="container" ng-app="CoffeeApp" ng-controller="CoffeeCtrl">
 <nav class="navbar navbar-default navbar-fixed-top">
	   
  <script type="text/ng-template" id="myPopoverTemplate.html">
        <div id="cart">
			<table>
				<tr class="text-warning text-align-left" ng-repeat="x in order">
					<td>{{x.name}}&nbsp;&nbsp;</td>
					<td>&times; {{x.qty}}&nbsp;&nbsp;</td>
					<td>{{x.price | currency : "&#8369; "}}&nbsp;&nbsp;</td>
					<td><button class="btn btn-xs btn-danger glyphicon glyphicon-minus-sign" ng-click="removeItem($index)"></button></td>
				</tr>
				<hr class="text-warning">
				<tr class="text-warning text-align-left">
					<td colspan="2"><right>A Total of :</right></td>
					<td><strong>{{total| currency : "&#8369; "}}</strong></td>
				</tr>
			</table>	
			<hr>
			<button class="btn btn-sm btn-primary" ng-click="orderNow()">ORDER NOW!</button>
			
			
		</div>
    </script>

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">The Coffee Table</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" ng-model="query" class="form-control" placeholder="Search">
        </div>
      </form>
      <ul class="nav navbar-nav">
      <li>
          <a class="glyphicon glyphicon-erase" ng-click="query=''"></a>
      </li>
      <li>
          <a type="button" onclick="window.location = 'survey.html'">May we need you assistance?</a>
      </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        
        
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<br><br><br><br>
<div class="page-header">
    <h1 class="text-warning">Welcome! <small class="text-warning">may i take your order, please?</small></h1>
</div>

<div class="container-fluid">
	<div class="row" ng-repeat="x in categories | filter: query">
    <div class="panel panel-default">
        <div class="panel-heading"><h4><strong>{{x.categoryname}}</strong></h4></div>
        <div class="panel-body">
        	<!-- items per category -->
            <div class="container-fluid">
            	<button uib-popover-template="dynamicPopover.templateUrl" popover-placement="bottom" popover-title="Your Order List:" type="button" class="btn btn-warning" style="top:12%;right:7%; position:fixed;z-index:999">CART</button>
            	<div class="row">
                	<div class="col-md-6 col-sm-12 " ng-repeat="y in item | filter: y.categoryname=x.categoryname | filter: query">
                    	<div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{y.name}}</h3>
                                  
                            </div>
                            <div class="panel-body">
                            	<div class="col-md-6">
                                	<img uib-popover="Try me!" popover-trigger="'mouseenter'" ng-src="../libs/img/{{y.imgURL}}.jpg" class="img-responsive" width="200px" height="200px"/>
                                </div><div class="col-md-6">
                                    <p>{{y.description}}</p>
                                    <p>for only {{y.price}}</p>
                                    <p>{{y.price}} X {{qty}} -- <strong>{{y.price * qty}}.00</strong></p>
                                    Quantity: <input style="width:60px;" type="number" ng-model="qty" ng-init="qty = 1"/>
                                </div>
                                <div class="col-md-12">
                                	<div class="alert alert-success" role="alert">{{y.status}}</div>
                                </div>
                                <div class="col-md-6 " ng-show="y.status=='AVAILABLE'">
                                	<button type="button" ng-click="addItem(y.itemno,y.name,qty,y.price*qty,TableNumber)" class="btn btn-primary glyphicon glyphicon-play-circle"> ADD to Cart</button>
                                   
                                </div>
                                <br>
                                <div class="col-md-4">
                                	<p>Rate me : </p><ng-rate-it ng-model="y.percentage" pristine="" ng-click="rateItem(y.itemno,y.percentage)"></ng-rate-it>
                                    {{Xrate}}
                                </div>
                                
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
    </div>
	</div>
</div>
</div>

</body>
</html>
